<div class="wip-table-search flex flex-col justify-between gap-4 sm:flex-row">
  <div class="flex flex-col justify-between gap-4 sm:flex-row">
    <input
      hlmInput
      size="sm"
      class="w-full md:w-80"
      placeholder="Filter..."
      [ngModel]="taskFilter()"
      (ngModelChange)="rawFilterInput.set($event)"
    />
  </div>
  <div class="flex justify-end gap-2">
    <hlm-dialog align="end">
      <button hlmBtn size="sm" class="cursor-pointer" brnDialogTrigger>
        <ng-icon name="lucideCirclePlus" class="mr-2"></ng-icon>
        Create Product
      </button>
      <hlm-dialog-content class="min-w-[450px]" *brnDialogContent="let ctx">
        <hlm-dialog-header>
          <h2 hlmDialogTitle>Create Product</h2>
        </hlm-dialog-header>
        <form [formGroup]="productForm" (ngSubmit)="createProduct()">
          <hlm-form-field class="pb-4">
            <label hlmLabel class="sr-only" for="email">Name</label>
            <input
              hlmInput
              class="w-full"
              placeholder="Name"
              type="text"
              id="name"
              formControlName="name"
            />
          </hlm-form-field>
          <hlm-form-field class="pb-4">
            <label hlmLabel class="sr-only" for="description"
              >Description</label
            >
            <textarea
              hlmInput
              class="w-full"
              placeholder="Description"
              id="description"
              rows="4"
              formControlName="description"
            ></textarea>
          </hlm-form-field>
          <hlm-form-field class="pb-4">
            <label hlmLabel class="sr-only" for="price">Price</label>
            <input
              hlmInput
              class="w-full"
              placeholder="Price"
              type="number"
              id="price"
              formControlName="price"
            />
          </hlm-form-field>
          <div class="flex flex-col gap-4 pb-4">
            <div
              *ngFor="let imageControl of images.controls; let i = index"
              class="grid grid-cols-4 gap-4 items-center"
            >
              <input
                hlmInput
                type="text"
                [formControl]="imageControl"
                placeholder="Enter image URL"
                class="col-span-3"
              />
              <button
                hlmBtn
                class="cursor-pointer"
                variant="outline"
                type="button"
                (click)="removeImage(i)"
                [disabled]="images.length === 1"
              >
                ❌
              </button>
            </div>

            <button
              hlmBtn
              class="cursor-pointer"
              variant="outline"
              type="button"
              (click)="addImage()"
              [disabled]="images.length >= maxImages"
            >
              ➕ Add Image
            </button>
          </div>

          <div class="w-full pb-4 pt-1">
            <label
              class="flex items-center max-w-fit"
              hlmLabel
              for="hasDiscount"
            >
              <hlm-switch
                class="mr-2"
                id="hasDiscount"
                formControlName="hasDiscount"
              />
              Has Discount?
            </label>
          </div>

          <hlm-form-field
            *ngIf="productForm.get('hasDiscount')?.value"
            class="pb-4"
          >
            <label hlmLabel class="sr-only" for="percentageDiscount"
              >Percentage discount</label
            >
            <input
              hlmInput
              formControlName="percentageDiscount"
              class="w-full"
              placeholder="Percentage discount"
              type="number"
              id="percentageDiscount"
              min="1"
              max="100"
            />
          </hlm-form-field>

          <hlm-dialog-footer>
            <button hlmBtn type="submit">Save changes</button>
          </hlm-dialog-footer>
        </form>
      </hlm-dialog-content>
    </hlm-dialog>

    <button
      hlmBtn
      variant="outline"
      size="sm"
      align="end"
      class="cursor-pointer"
      [brnMenuTriggerFor]="menu"
    >
      <ng-icon hlm name="lucideSettings2" class="mr-2" size="sm" />
      View
    </button>
    <ng-template #menu>
      <hlm-menu class="w-32">
        @for (column of columnManager.allColumns; track column.name) {
        <button
          hlmMenuItemCheckbox
          [disabled]="columnManager.isColumnDisabled(column.name)"
          [checked]="columnManager.isColumnVisible(column.name)"
          (triggered)="onColumnFilterChanged(column.name)"
        >
          <hlm-menu-item-check />
          <span>{{ column.label }}</span>
        </button>
        }
      </hlm-menu>
    </ng-template>
  </div>
</div>
