<div class="h-full flex-1 flex-col space-y-4 p-8 py-6">
  <app-table-actions />

  <div class="wip-table">
    <brn-table
      hlm
      stickyHeader
      class="border-border mt-4 block max-h-full overflow-auto rounded-md border"
      [dataSource]="tableSource()"
      [displayedColumns]="allDisplayedColumns()"
      [trackBy]="trackBy"
    >
      <brn-column-def name="id" class="w-32">
        <hlm-th truncate *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">ID</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element">
          {{ element.id }}
        </hlm-td>
      </brn-column-def>
      <brn-column-def name="name" class="w-60 flex-1">
        <hlm-th *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">Product</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element" class="font-medium">
          {{ element.name }}
        </hlm-td>
      </brn-column-def>
      <brn-column-def name="status" class="w-32">
        <hlm-th *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">Status</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element">
          <div class="flex items-center">
            <span>{{ element.status }}</span>
          </div>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="actions" class="w-40">
        <hlm-th *brnHeaderDef>Actions</hlm-th>
        <hlm-td *brnCellDef="let element">
          <hlm-dialog>
            <button
              size="icon"
              class="cursor-pointer"
              [class]="_hlmMenuItemClasses"
              brnDialogTrigger
            >
              <ng-icon name="lucideFilePenLine"></ng-icon>
            </button>
            <hlm-dialog-content
              class="sm:max-w-[425px]"
              *brnDialogContent="let ctx"
            >
              <hlm-dialog-header>
                <h2 hlmDialogTitle>Edit Product</h2>
                <p hlmDialogDescription>
                  Make changes to your product here. Click save when you're
                  done.
                </p>
              </hlm-dialog-header>
              <form [formGroup]="productForm" (ngSubmit)="createProduct()">
                <hlm-form-field class="pb-4">
                  <label hlmLabel class="sr-only" for="email">Name</label>
                  <input
                    hlmInput
                    class="w-full"
                    placeholder="Name"
                    type="text"
                    id="name"
                    formControlName="name"
                  />
                </hlm-form-field>
                <hlm-form-field class="pb-4">
                  <label hlmLabel class="sr-only" for="description"
                    >Description</label
                  >
                  <textarea
                    hlmInput
                    class="w-full"
                    placeholder="Description"
                    id="description"
                    rows="4"
                    formControlName="description"
                  ></textarea>
                </hlm-form-field>
                <hlm-form-field class="pb-4">
                  <label hlmLabel class="sr-only" for="price">Price</label>
                  <input
                    hlmInput
                    class="w-full"
                    placeholder="Price"
                    type="number"
                    id="price"
                    formControlName="price"
                  />
                </hlm-form-field>
                <div class="w-full pb-4 pt-1">
                  <label
                    class="flex items-center max-w-fit"
                    hlmLabel
                    for="hasDiscount"
                  >
                    <hlm-switch
                      class="mr-2"
                      id="hasDiscount"
                      formControlName="hasDiscount"
                    />
                    Has Discount?
                  </label>
                </div>

                <hlm-form-field
                  *ngIf="productForm.get('hasDiscount')?.value"
                  class="pb-4"
                >
                  <label hlmLabel class="sr-only" for="percentageDiscount"
                    >Percentage discount</label
                  >
                  <input
                    hlmInput
                    formControlName="percentageDiscount"
                    class="w-full"
                    placeholder="Percentage discount"
                    type="number"
                    id="percentageDiscount"
                  />
                </hlm-form-field>

                <hlm-dialog-footer>
                  <button hlmBtn type="submit">Save changes</button>
                </hlm-dialog-footer>
              </form>
            </hlm-dialog-content>
          </hlm-dialog>
          <hlm-alert-dialog>
            <button
              size="icon"
              id="edit-profile"
              brnAlertDialogTrigger
              [class]="_hlmMenuItemClasses"
              class="cursor-pointer"
            >
              <ng-icon name="lucideTrash2"></ng-icon>
            </button>
            <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
              <hlm-alert-dialog-header>
                <h3 hlmAlertDialogTitle>Are you absolutely sure?</h3>
                <p hlmAlertDialogDescription>
                  This action cannot be undone. This will remove this item.
                </p>
              </hlm-alert-dialog-header>
              <hlm-alert-dialog-footer>
                <button hlmAlertDialogCancel (click)="ctx.close()">
                  Cancel
                </button>
                <button
                  hlmAlertDialogAction
                  (click)="deleteProduct(); ctx.close()"
                >
                  Delete
                </button>
              </hlm-alert-dialog-footer>
            </hlm-alert-dialog-content>
          </hlm-alert-dialog>
        </hlm-td>
      </brn-column-def>
      <div
        class="text-muted-foreground flex items-center justify-center p-20"
        brnNoDataRow
      >
        No data
      </div>
    </brn-table>
    <div
      class="mt-4 flex flex-col justify-between sm:flex-row sm:items-center"
      *brnPaginator="
        let ctx;
        totalElements: totalElements();
        pageSize: pageSize();
        onStateChange: _onStateChange
      "
    >
      <span class="text-muted-foreground text-sm">
        {{ totalElements() }} total items
      </span>
      <div class="mt-2 flex sm:mt-0">
        <brn-select
          class="inline-block"
          placeholder="{{ availablePageSizes[0] }}"
          [(ngModel)]="pageSize"
        >
          <hlm-select-trigger class="w-full mr-1 inline-flex h-9">
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content>
            @for (size of availablePageSizes; track size) {
            <hlm-option [value]="size">
              {{ size === 10000 ? "All" : size }}
            </hlm-option>
            }
          </hlm-select-content>
        </brn-select>

        <div class="flex space-x-1">
          <button
            size="default"
            variant="outline"
            hlmBtn
            [disabled]="!ctx.decrementable()"
            (click)="ctx.decrement()"
          >
            Previous
          </button>
          <button
            size="sm"
            variant="outline"
            hlmBtn
            [disabled]="!ctx.incrementable()"
            (click)="ctx.increment()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
