<div class="h-full flex-1 flex-col space-y-4 p-8 py-6">
  <app-table-actions />

  <div class="wip-table">
    <brn-table
      hlm
      stickyHeader
      class="border-border mt-4 block max-h-full overflow-auto rounded-md border"
      [dataSource]="tableSource()"
      [displayedColumns]="allDisplayedColumns()"
      [trackBy]="trackBy"
    >
      <brn-column-def name="id" class="w-[80px]">
        <hlm-th truncate *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">ID</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element">
          {{ element.id }}
        </hlm-td>
      </brn-column-def>
      <brn-column-def name="name" class="w-32 flex-1">
        <hlm-th *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">Product</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element" class="font-medium">
          {{ element.name }}
        </hlm-td>
      </brn-column-def>
      <brn-column-def name="description" class="w-32 flex-1">
        <hlm-th *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">Description</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element">
          <div class="flex items-center">
            <span>{{ element.description }}</span>
          </div>
        </hlm-td>
      </brn-column-def>
      <brn-column-def name="price" class="w-32">
        <hlm-th *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">Price</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element">
          <div class="flex items-center">
            <span>{{ element.price | currency }}</span>
          </div>
        </hlm-td>
      </brn-column-def>
      <brn-column-def name="percentageDiscount" class="w-[110px]">
        <hlm-th *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">Discount</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element">
          <div class="flex items-center">
            <span>{{ element.percentageDiscount * 0.01 | percent }}</span>
          </div>
        </hlm-td>
      </brn-column-def>
      <brn-column-def name="priceWithDiscount" class="w-[150px]">
        <hlm-th *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">Price/Discount</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element">
          <div class="flex items-center">
            <span>{{ element.priceWithDiscount | currency }}</span>
          </div>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="images" class="w-[100px]">
        <hlm-th *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">Images</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element">
          <div class="flex items-center">
            <span>{{ element.images.length }}</span>
          </div>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="actions" class="w-40">
        <hlm-th *brnHeaderDef>Actions</hlm-th>
        <hlm-td *brnCellDef="let element">
          <app-edit-product [product]="element"></app-edit-product>
          <hlm-alert-dialog>
            <button
              size="icon"
              id="edit-profile"
              brnAlertDialogTrigger
              [class]="_hlmMenuItemClasses"
              class="cursor-pointer"
            >
              <ng-icon name="lucideTrash2"></ng-icon>
            </button>
            <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
              <hlm-alert-dialog-header>
                <h3 hlmAlertDialogTitle>Are you absolutely sure?</h3>
                <p hlmAlertDialogDescription>
                  This action cannot be undone. This will remove this item.
                </p>
              </hlm-alert-dialog-header>
              <hlm-alert-dialog-footer>
                <button hlmAlertDialogCancel (click)="ctx.close()">
                  Cancel
                </button>
                <button
                  hlmAlertDialogAction
                  (click)="deleteProduct(); ctx.close()"
                >
                  Delete
                </button>
              </hlm-alert-dialog-footer>
            </hlm-alert-dialog-content>
          </hlm-alert-dialog>
        </hlm-td>
      </brn-column-def>
      <div
        class="text-muted-foreground flex items-center justify-center p-20"
        brnNoDataRow
      >
        No data
      </div>
    </brn-table>
    <div
      class="mt-4 flex flex-col justify-between sm:flex-row sm:items-center"
      *brnPaginator="
        let ctx;
        totalElements: totalElements();
        pageSize: pageSize();
        onStateChange: _onStateChange
      "
    >
      <span class="text-muted-foreground text-sm">
        {{ totalElements() }} total items
      </span>
      <div class="mt-2 flex sm:mt-0">
        <brn-select
          class="inline-block"
          placeholder="{{ availablePageSizes[0] }}"
          [(ngModel)]="pageSize"
        >
          <hlm-select-trigger class="w-full mr-1 inline-flex h-9">
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content>
            @for (size of availablePageSizes; track size) {
            <hlm-option [value]="size">
              {{ size === 10000 ? "All" : size }}
            </hlm-option>
            }
          </hlm-select-content>
        </brn-select>

        <div class="flex space-x-1">
          <button
            size="default"
            variant="outline"
            hlmBtn
            [disabled]="!ctx.decrementable()"
            (click)="ctx.decrement()"
          >
            Previous
          </button>
          <button
            size="sm"
            variant="outline"
            hlmBtn
            [disabled]="!ctx.incrementable()"
            (click)="ctx.increment()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
