<div class="h-full flex-1 flex-col space-y-4 p-8 py-6">
  <app-table-actions />

  <div class="wip-table">
    <brn-table
      hlm
      stickyHeader
      class="border-border mt-4 block max-h-full overflow-auto rounded-md border"
      [dataSource]="tableSource()"
      [displayedColumns]="allDisplayedColumns()"
      [trackBy]="trackBy"
    >
      <brn-column-def name="id" class="w-32">
        <hlm-th truncate *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">Id</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element">
          {{ element.id }}
        </hlm-td>
      </brn-column-def>
      <brn-column-def name="name" class="w-60 flex-1">
        <hlm-th *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">Product</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element" class="font-medium">
          <div
            class="text-foreground inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold"
          >
            {{ element.type }}
          </div>
          {{ element.name }}
        </hlm-td>
      </brn-column-def>
      <brn-column-def name="status" class="w-32">
        <hlm-th *brnHeaderDef>
          <button hlmBtn size="sm" variant="ghost">Status</button>
        </hlm-th>
        <hlm-td truncate *brnCellDef="let element">
          <div class="flex items-center">
            <ng-icon
              hlm
              class="text-muted-foreground mr-2"
              size="sm"
              [name]="element.status | statusIcon"
            />
            <span>{{ element.status }}</span>
          </div>
        </hlm-td>
      </brn-column-def>

      <brn-column-def name="actions" class="w-16">
        <hlm-th *brnHeaderDef></hlm-th>
        <hlm-td *brnCellDef="let element">
          <button
            hlmBtn
            variant="ghost"
            class="h-6 w-6 p-0.5"
            align="end"
            [brnMenuTriggerFor]="menu"
          >
            <ng-icon hlm size="sm" name="lucideEllipsis" />
          </button>

          <ng-template #menu>
            <hlm-menu>
              <hlm-menu-label>Actions</hlm-menu-label>
              <hlm-menu-separator />
              <hlm-menu-group>
                <button hlmMenuItem>Edit</button>
              </hlm-menu-group>
              <hlm-menu-separator />

              <hlm-menu-group>
                <button hlmMenuItem>
                  Delete
                  <span class="ml-auto text-xs tracking-widest opacity-60"
                    >⌘⌫</span
                  >
                </button>
              </hlm-menu-group>
            </hlm-menu>
          </ng-template>
        </hlm-td>
      </brn-column-def>
      <div
        class="text-muted-foreground flex items-center justify-center p-20"
        brnNoDataRow
      >
        No data
      </div>
    </brn-table>
    <div
      class="mt-4 flex flex-col justify-between sm:flex-row sm:items-center"
      *brnPaginator="
        let ctx;
        totalElements: totalElements();
        pageSize: pageSize();
        onStateChange: _onStateChange
      "
    >
      <span class="text-muted-foreground text-sm">
        {{ totalElements() }} total items
      </span>
      <div class="mt-2 flex sm:mt-0">
        <brn-select
          class="inline-block"
          placeholder="{{ availablePageSizes[0] }}"
          [(ngModel)]="pageSize"
        >
          <hlm-select-trigger class="w-full mr-1 inline-flex h-9">
            <hlm-select-value />
          </hlm-select-trigger>
          <hlm-select-content>
            @for (size of availablePageSizes; track size) {
            <hlm-option [value]="size">
              {{ size === 10000 ? "All" : size }}
            </hlm-option>
            }
          </hlm-select-content>
        </brn-select>

        <div class="flex space-x-1">
          <button
            size="default"
            variant="outline"
            hlmBtn
            [disabled]="!ctx.decrementable()"
            (click)="ctx.decrement()"
          >
            Previous
          </button>
          <button
            size="sm"
            variant="outline"
            hlmBtn
            [disabled]="!ctx.incrementable()"
            (click)="ctx.increment()"
          >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
