<div class="bg-background overflow-hidden">
  <div class="grid lg:grid-cols-5">
    <app-sidebar />
    <div class="music_content col-span-3 lg:col-span-4">
      <div class="h-full min-h-screen px-4 py-6 lg:px-8">
        <div class="flex-1 flex-col">
          <div class="flex items-center justify-between space-y-2">
            <div class="flex flex-col">
              <h2 class="text-2xl font-bold tracking-tight">Welcome back!</h2>
              <p class="text-muted-foreground">
                Here's a list of your {{ routeName() }} for this month!
              </p>
            </div>
            <hlm-avatar [brnMenuTriggerFor]="profile" align="center">
              <img
                src="/assets/avatar.png"
                alt="spartan logo. Resembling a spartanic shield"
                hlmAvatarImage
              />
              <span class="bg-destructive text-white" hlmAvatarFallback
                >AH</span
              >
            </hlm-avatar>

            <ng-template #profile>
              <hlm-menu>
                <div class="flex flex-col space-y-1" hlmMenuItem>
                  <p class="text-sm font-medium leading-none">spartan</p>
                  <p class="text-muted-foreground text-xs leading-none">
                    m&#64;example.com
                  </p>
                </div>

                <hlm-menu-separator />

                <hlm-menu-group>
                  <hlm-menu-group>
                    <button hlmMenuItem>
                      <ng-icon hlm name="lucideUser" hlmMenuIcon />
                      <span>Profile</span>
                      <hlm-menu-shortcut>⇧⌘P</hlm-menu-shortcut>
                    </button>

                    <button hlmMenuItem disabled>
                      <ng-icon hlm name="lucideCog" hlmMenuIcon />
                      <span>Settings</span>
                      <hlm-menu-shortcut>⌘S</hlm-menu-shortcut>
                    </button>
                  </hlm-menu-group>

                  <hlm-menu-separator />

                  <button hlmMenuItem (click)="logout()">
                    <ng-icon hlm name="lucideLogOut" hlmMenuIcon />
                    <span>Logout</span>
                    <hlm-menu-shortcut>⇧⌘Q</hlm-menu-shortcut>
                  </button>
                </hlm-menu-group>
              </hlm-menu>
            </ng-template>
          </div>
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
