<hlm-dialog>
  <button id="edit-profile" brnDialogTrigger hlmBtn variant="outline">
    <ng-icon hlm size="sm" name="lucideUser"></ng-icon>
  </button>
  <hlm-dialog-content class="min-w-[450px]" *brnDialogContent="let ctx">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>Login</h3>
      <p hlmDialogDescription></p>
    </hlm-dialog-header>
    <form [formGroup]="loginForm" (ngSubmit)="login(ctx)">
      <hlm-form-field class="pb-4">
        <label hlmLabel class="sr-only" for="email">Email</label>
        <input
          hlmInput
          class="w-full"
          placeholder="Email"
          type="email"
          id="email"
          formControlName="email"
        />
      </hlm-form-field>
      <hlm-form-field class="pb-4">
        <label hlmLabel class="sr-only" for="password">Password</label>
        <input
          hlmInput
          class="w-full"
          placeholder="Password"
          type="password"
          id="password"
          formControlName="password"
        />
      </hlm-form-field>

      <hlm-dialog-footer>
        <button hlmBtn type="submit">Login</button>
      </hlm-dialog-footer>
    </form>
  </hlm-dialog-content>
</hlm-dialog>
