<div class="side-menu border-border hidden h-full border-r lg:block">
  <div class="space-y-4 py-4">
    <div class="px-3 py-2">
      <h2 class="mb-2 px-4 text-lg font-semibold tracking-tight">Admin</h2>
      <div class="space-y-1">
        @for (item of discover; track item) {
        <app-side-button
          class="font-medium"
          [ngClass]="{ 'bg-secondary': !!isSelected(item.key) }"
          href="{{ item.key }}"
        >
          <ng-icon hlm size="sm" [name]="item.icon" class="mr-2 h-4 w-4" />
          {{ item.label }}
        </app-side-button>
        }
      </div>
    </div>
  </div>
</div>
