<div class="mw-1200 mt-20">
  <ul class="list-container">
    <li *ngFor="let product of products">
      <article>
        <div>
          <img
            [src]="product.imgUrl"
            [alt]="product.name"
            width="200"
            height="200"
          />
        </div>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description | ellipsis }}</p>
        <p style="font-size: 25px">{{ product.price | currency : "USD" }}</p>
        <div class="tag" *ngIf="product.hasDiscount">En Oferta</div>
      </article>
    </li>
  </ul>
</div>
