<div class="w-full bg-black h-[80px] p-4">
  <div class="grid grid-cols-[auto_1fr_auto] h-full place-items-center">
    <div class="flex py-4 items-center">
      <img src="favicon.ico" alt="logo" class="h-8 w-8" />
      <h2 class="px-4 text-lg font-semibold tracking-tight">
        {{ appName }}
      </h2>
    </div>
    <div class="flex">
      @for (item of navItems; track $index) {

      <a hlmBtn variant="link" class="cursor-pointer" href="{{ item.key }}">
        {{ item.label }}
      </a>
      }
    </div>
    <div class="flex gap-4">
      @if(showUser()){
      <hlm-avatar [brnMenuTriggerFor]="profile" align="center">
        <span class="bg-destructive text-white" hlmAvatarFallback>{{
          user().name ?? "" | abbreviation
        }}</span>
      </hlm-avatar>
      <ng-template #profile>
        <hlm-menu>
          <div class="flex flex-col space-y-1" hlmMenuItem>
            <p class="text-sm font-medium leading-none">
              {{ user().name }}
            </p>
            <p class="text-muted-foreground text-xs leading-none">
              {{ user().email }}
            </p>
          </div>

          <hlm-menu-separator />

          <hlm-menu-group>
            <hlm-menu-group>
              <button hlmMenuItem disabled>
                <ng-icon hlm name="lucideUser" hlmMenuIcon />
                <span>Profile</span>
                <hlm-menu-shortcut>⇧⌘P</hlm-menu-shortcut>
              </button>

              <button hlmMenuItem disabled>
                <ng-icon hlm name="lucideCog" hlmMenuIcon />
                <span>Settings</span>
                <hlm-menu-shortcut>⌘S</hlm-menu-shortcut>
              </button>
            </hlm-menu-group>

            <hlm-menu-separator />

            <button hlmMenuItem (click)="logoutUser()">
              <ng-icon hlm name="lucideLogOut" hlmMenuIcon />
              <span>Logout</span>
              <hlm-menu-shortcut>⇧⌘Q</hlm-menu-shortcut>
            </button>
          </hlm-menu-group>
        </hlm-menu>
      </ng-template>
      }@else {
      <app-login-dialog></app-login-dialog>

      }

      <button hlmBtn disabled variant="outline">
        <ng-icon hlm size="sm" name="lucideShoppingCart"></ng-icon>
      </button>
    </div>
  </div>
</div>

<div class="mt-10 m-auto max-w-[1000px]">
  <p class="mb-2 mt-2 text-center text-2xl font-bold">En Oferta</p>
  <div class="flex items-center justify-center w-full p-4">
    <hlm-carousel class="w-full" [plugins]="plugins">
      <hlm-carousel-content class="-ml-1">
        @for (item of productsWithDiscount(); track item.id) {
        <hlm-carousel-item class="pl-1 basis-1/4">
          <div class="p-1">
            <app-product-card [item]="item"></app-product-card>
          </div>
        </hlm-carousel-item>
        }
      </hlm-carousel-content>
      <button hlm-carousel-previous></button>
      <button hlm-carousel-next></button>
    </hlm-carousel>
  </div>
  <div class="my-10 w-full bg-gray-500 h-[200px] rounded-2xl">
    <img src="https://picsum.photos/1003/200" alt="Banner" />
  </div>
  <p class="my-5 text-center text-2xl font-bold">All Products</p>
  <div class="flex items-center justify-center w-full p-4">
    <hlm-carousel class="w-full" [plugins]="plugins">
      <hlm-carousel-content class="-ml-1">
        @for (item of productsAll(); track item) {
        <hlm-carousel-item class="pl-1 basis-1/4">
          <div class="p-1">
            <app-product-card [item]="item"></app-product-card>
          </div>
        </hlm-carousel-item>
        }
      </hlm-carousel-content>
      <button hlm-carousel-previous></button>
      <button hlm-carousel-next></button>
    </hlm-carousel>
  </div>
</div>

<div class="mt-10 w-full bg-black h-[200px] grid place-items-center">
  <span>
    A-shop made with ❤️ by
    <a href="https://github.com/Aireck2">Erick Escriba</a>
  </span>
</div>
