<div hmlcard class="bg-background overflow-hidden shadow-md md:shadow-xl">
  <div
    class="container relative flex h-screen flex-col items-center justify-center md:grid lg:max-w-none lg:grid-cols-2 lg:px-0"
  >
    <div
      class="bg-muted relative hidden h-full flex-col border-r p-10 text-white lg:flex dark:border-r-zinc-800"
    >
      <div class="absolute inset-0 bg-zinc-900"></div>
      <div class="relative z-20 text-lg flex py-4 items-center">
        <img src="favicon.ico" alt="logo" class="h-8 w-8" />
        <h2 class="px-4 text-lg font-semibold tracking-tight">
          Admin {{ appName }}
        </h2>
      </div>

      <div class="relative z-20 mt-auto">
        <blockquote class="space-y-2">
          <p class="text-lg">
            Access your admin dashboard to manage products, track orders,
            analyze sales, and optimize your eCommerce business—all in one
            place.
          </p>
          <!-- <footer class="text-sm">Sofia Davis</footer> -->
        </blockquote>
      </div>
    </div>
    <div class="lg:p-8">
      <app-login-form />
    </div>
  </div>
</div>
